body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
}
form input {
    margin-bottom: 10px;
    padding: 10px;
}
form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
}
#error-message {
    color: red;
    margin-top: 10px;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("image/back22.jpeg");
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
  }